---
import "@fontsource-variable/noto-sans-hk"
import "@fontsource-variable/lora"
const { data: response } = await strapi.countries() as any
export const prerender = true
import TravelLogLayout from "@layouts/TravelLogLayout/TravelLogLayout.astro"
import strapi from "@sources/strapi/strapi";
const { pathname } = Astro.url
---
<TravelLogLayout header="Travel Log">
    <div class="page--body grid grid-cols-2 gap-4 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5">
        {response && response.map(({id, attributes}: any) => {
            const url = `${pathname}/${attributes.name}`
            return (
                    <a id={id} href=`${url}`
                       class="page--card-name block px-3 py-5 rounded-2xl shadow cursor-pointer text-center">
                    <span class="text-lg font-medium">
                    {attributes.name}
                    </span>
                    </a>
            )
        })}
    </div>
</TravelLogLayout>
<style>
    .page {
        &--card {
            &-name {
                font-family: "Lora Variable", sans-serif;
            }
        }
    }
</style>
