---
import "@fontsource-variable/noto-sans-hk"
import "@fontsource-variable/lora"
import { Icon } from "astro-icon/components"
import strapi from "@sources/strapi/strapi"
import TravelLogLayout from "@layouts/TravelLogLayout/TravelLogLayout.astro"
import CopyToClipboard from "@components/CopyToClipboard/CopyToClipboard.astro"
import PhotoGallery from "@components/PhotoGallery/PhotoGallery.svelte"
const params = Astro.params
const { location, region } = params as any
const { data: response } = await strapi.locations({
	filter: [
		{ name: "filters[name][$eqi]", value: location.toString() }
	],
	populate: [
		{ name: "populate[images]", value: "*" },
		{ name: "populate[place_location_postcode][fields][0]", value: "name" },
		{ name: "populate[place_location_postcode][fields][1]", value: "postcode" },
		{ name: "populate[place_location_tags][fields][0]", value: "name" },
		{ name: "populate[place_location_tags][fields][1]", value: "slug" },
		{ name: "populate[place_location_type][fields][0]", value: "name" },
		{ name: "populate[place_location_type][fields][1]", value: "slug" }
	]
}) as any
const {
	address,
	latitude,
	longitude,
	description,
	images: { data: images },
	place_location_postcode: { data: { attributes: postcode } },
	place_location_tags: { data: tags },
	place_location_type: { data: { attributes: type } }
} = response?.at(0)?.attributes
---
<TravelLogLayout header={location} title={[location, region].join(", ")} description={description}>
	<div class="grid gap-4">
		<div class="locationInformation">
			<div class="flex flex-wrap items-center">
				<Icon name="mdi:book-open" size={18} />
			</div>
			<div data-slug={type.slug} class="inline">{type.name}</div>
			<div class="flex flex-wrap items-center">
				<Icon name="mdi:tag" size={18} />
			</div>
			<div class="flex flex-wrap justify-start gap-2">
				{tags && tags.map(({ attributes }: any) => {
					return (
						<div class="block bg-gray-700 text-white px-2 rounded-md"
							 data-slug={attributes.slug}>{attributes.name}</div>
					)
				})}
			</div>
			<div class="flex flex-wrap items-center">
				<Icon name="mdi:land-plots-marker" size={18} />
			</div>
			<div>{postcode.postcode}, {postcode.name}</div>
			<div class="flex flex-wrap items-center">
				<Icon name="mdi:home-city-outline" size={18} />
			</div>
			<CopyToClipboard>
				{address}
			</CopyToClipboard>
			<div class="flex flex-wrap items-center">
				<Icon name="mdi:map-marker" size={18} />
			</div>
			<CopyToClipboard>
				{latitude},{longitude}
			</CopyToClipboard>
		</div>
		<article class="py-3">
			<h2 class="text-3xl font-bold my-2">Description</h2>
			<div class="text-justify">{description}</div>
		</article>
		<div>
			<h2 class="text-3xl font-bold my-2">Photos</h2>
			<PhotoGallery images={images} client:load />
		</div>
	</div>
</TravelLogLayout>
<style>
    h2 {
        font-family: "Lora Variable", sans-serif;
    }

    .locationInformation {
        display: grid;
        gap: 16px;
        grid-template-columns: 18px 1fr;
    }
</style>
