---
import "@fontsource/lato"
import "@fontsource-variable/lora"
import {Icon} from "astro-icon/components"
import strapi from "../../../../../sources/strapi/strapi";
import TravelLogLayout from "../../../../../layouts/TravelLogLayout/TravelLogLayout.astro";
const params = Astro.params
const {location} = params as any
const {data: response} = await strapi.locations({
    filter: [
        {name: "filters[name][$eqi]", value: location.toString()},
    ],
    populate: [
        {name: "populate[place_location_postcode][fields][0]", value: "name"},
        {name: "populate[place_location_postcode][fields][1]", value: "postcode"},
        {name: "populate[place_location_tags][fields][0]", value: "name"},
        {name: "populate[place_location_tags][fields][1]", value: "slug"},
        {name: "populate[place_location_type][fields][0]", value: "name"},
        {name: "populate[place_location_type][fields][1]", value: "slug"}
    ]
}) as any
const {
    address,
    latitude,
    longitude,
    description,
    place_location_postcode: {data: {attributes: postcode}},
    place_location_tags: {data: tags},
    place_location_type: {data: {attributes: type}},
} = response?.at(0)?.attributes
---
<TravelLogLayout header={location}>
    <div class="grid gap-4">
        <div class="flex flex-wrap gap-2 justify-start items-center" title="Address">
            <Icon name="mdi:home-city-outline" size={18}/>
            <div class="flex flex-wrap justify-start items-center gap-2 border-b-2 border-gray-200">
                <span>{address}</span>
                <span data-coordinate class="cursor-pointer">
                    <Icon name="mdi:content-copy" size={18}/>
                </span>
            </div>
        </div>
        <div class="flex flex-wrap gap-2 justify-start items-center" title="Postcode">
            <Icon name="mdi:land-plots-marker" size={18}/>
            <span>{postcode.postcode} {postcode.name}</span>
        </div>
        <div class="flex flex-wrap gap-2 justify-start items-center" title="Type">
            <Icon name="mdi:book-open" size={18}/>
            <span data-slug={type.slug}>{type.name}</span>
        </div>
        <div class="flex flex-wrap gap-2 justify-start items-center" title="Tags">
            <Icon name="mdi:tag" size={18}/>
            <div class="flex flex-wrap justify-start gap-2">
                {tags && tags.map(({attributes}: any) => {
                    return <div class="block bg-gray-700 text-white px-2 rounded-md" data-slug={attributes.slug}>{attributes.name}</div>
                })}
            </div>
        </div>
        <div class="flex flex-wrap gap-2 justify-start items-center" title="coordinate">
            <Icon name="mdi:map-marker" size={18}/>
            <div class="flex flex-wrap justify-start items-center gap-2 border-b-2 border-gray-200">
                <span>{latitude},{longitude}</span>
                <span data-coordinate class="cursor-pointer">
                    <Icon name="mdi:content-copy" size={18}/>
                </span>
            </div>
        </div>
        <div>
            <span>{description}</span>
        </div>
    </div>
</TravelLogLayout>
<script>
    function copyToClipboard() {
        const value = this.parentNode.querySelector("span").innerText
        navigator.clipboard.writeText(value)
        alert("Copied: " + value);
    }

    document?.querySelector("[data-coordinate]")?.addEventListener("click", copyToClipboard)
</script>